
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Used for figuring out what's deployed locally
hash.txt
data/*
*.pem
color.yml
docker-compose.yml
blue-green
